
<!DOCTYPE html>
<html>
<head>
    <title>About Us - Game Centre</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo-img">
            <span class="logo-text">Game Centre</span>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/snake">Snake</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>

    <div class="centered-message">
        <h1>About Game Centre</h1>
        <p>Welcome to the Offline Game Centre 🎮<br>
        This project was built for fun and functionality — designed to work entirely offline, featuring a collection of classic games like Snake, Pong, and Tic-Tac-Toe.</p>
        <p>
        It was built using Python, Tkinter, Pygame, Flask and SQLite — it’s a celebration of nostalgic arcade gaming brought to the modern day.
        </p>
        <p>Created by: <strong>Daniel Ntuka </strong></p>

        <a href="/" class="home-btn">🏠 Back to Home</a>
    </div>
</body>
</html>
