<!DOCTYPE html>
<html>
<head>
    <title>Offline Game Centre</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <nav>
	   <div class="logo">
           <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Game Centre Logo" class="logo-img">
           <span class="logo-text">Game Centre</span>
       </div>

		<ul>
		
		    <li><a href="/">Home</a></li>
			<li class="dropdown">
			    <a href="#">Games ▾</a>
				<ul class="dropdown-content">
				    <li><a href="/start_snake">Snake Game</a></li>
					<li><a href="/start_snake_hard">Snake (Hard Mode)</a></li>
					<li><a href="/start_tic_tac_toe">Tic-Tac-Toe</a></li>
					<li><a href="/start_tic_tac_toe_ai">Tic-Tac-Toe vs AI</a></li>
					<li><a href="/start_pong"> Pong Game</a></li>
				</ul>
			</li>
			<li><a href="/about">About</a></li>
		</ul>
	</nav>
	
	
	<h1>Welcome to the Offline Game Centre</h1>
	
	<div class="game-grid">
	    <div class="game-card">
		    <a href="/snake_menu"><img src="{{ url_for('static', filename='images/snake.png') }}" alt="Snake Game" class="game-image"></a>
        <p>Click to play Snake</p>
    </div>
    <div class="game-card">
        <a href="/tic_tac_toe_menu"><img src="{{ url_for('static', filename='images/tic_tac_toe.png') }}" alt="Tic-Tac-Toe Game" class="game-image"></a>
        <p>Click to play Tic-Tac-Toe</p>
    </div>
    <div class="game-card">
        <a href="/start_pong"><img src="{{ url_for('static', filename='images/pong.png') }}" alt="Pong Game" class="game-image"></a>
        <p>Click to play Pong</p>
    </div>
</div>

</body>
</html>